.burger-creator__ingredients-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.burger-creator__title {
    /* border: 2px solid red; */
    padding-bottom: 2rem;
}

.burger-creator__ingredient-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.burger-creator__ingredient {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.burger-creator__button-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.5em 1.5em 0em 1.5em;
}

/*.burger-creator__button-wrapper {
    display: flex;
    margin: 10px;
}

.burger-creator__button:hover,
.burger-creator__button:active {
    background-color: lightgray;
    border-color: yellow;
}

.burger-creator__button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.burger-creator__button.alternative:hover,
.burger-creator__button.alternative:active {
    background-color: #ddb3f8;
} */

.burger-creator__form {
    display: flex;
    padding: 1em 5em 2.5em 5em;
}
