.order-overview__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 60vh;
    padding-bottom: 1.3rem;
}

.order-overview__order-details {
        padding-bottom: 1.3rem;

}

.flex_item {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}
